<h2>Add New Post</h2>
<p><!--копируем форму с bootstrap ->css -->
	<form action="/new" method="POST" role="form" > <!--обязательные атрибуты form, которые надо запомнить и которые должны быть у формы: 1. атрибут action - говорит о том куда будут отправляться данные, а нашем случае по url /new, 2.атрибут method может принимать  GET и POST запросы(в нашем случае POST - отправка данных) !!! Важно запомнить, часто встречается-->
	  <textarea class="form-control" rows="6"></textarea> <!--теперь добавим Textaria - отвечает за ввод данных на многих линиях-->
	  <br />  <!--отодвинем кнопку-->
	  <button type="submit" class="btn btn-primary">Submit</button> <!--сделаем кнопку синей, btn-primary вместо btn-default-->
	</form>
</p>
