<h2>Add New Post</h2>
<p><!--копируем форму с bootstrap ->css -->
	<form>
	  <textarea class="form-control" rows="6"></textarea> <!--теперь добавим Textaria - отвечает за ввод данных на многих линиях-->
	  <br />  <!--отодвинем кнопку-->
	  <button type="submit" class="btn btn-primary">Submit</button> <!--сделаем кнопку синей, btn-primary вместо btn-default-->
	</form>
</p>
